.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: lightcyan;
    padding: 8px
}

.wrapper {
    display: flex;
    gap: 8px;
}

.typeInput {
    width: 90%;
    margin: 10px;
    border-bottom: 1px solid black;
}

.th {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 8px 6px;
}

.td {
    border-bottom: 1px solid darkblue;
    padding: 8px 6px;
}